.footer{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 2px;
    color: cornflowerblue;
    background-color: cyan;
    height : 250px;
    border: 2px solid black;
    }