/* Common */
.footer {
    word-spacing: 2px;
    color: white;
    background-image: linear-gradient(rgb(96, 227, 96), rgb(150, 12, 12));
    margin-top: 20px;
}

.footer a {
    color: white;
    font-size: large;
}


#Index {
    background-image: url(https://walker-web.imgix.net/cms/Gradient_builder_2.jpg?auto=format,compress&w=1920&h=1200&fit=crop&dpr=1.5);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
    font-family: cursive;
    margin: 20px;
    animation: transform;
}

img:hover {
    scale: 1.2;

}

img {
    margin-left: 275px;
}

@media screen and (max-width : 600px) {
    .nav {

        left: 0px;

    }
}

.nav {
    font-size: large;
    font-family: cursive;
    /* position: fixed; */
    width: 120px;
    float: right;
    border: 2px solid pink;
}

.heading {
    color: blue;
    background-color: bisque;

}




.content {
    background-color: darkolivegreen;
    color: azure;
    font-size: large;
    font-family: cursive;
}

.about-culture {
    color: wheat;
    background-color: brown;
    font-size: large;
}

.Cuisine {
    color: rgba(246, 68, 18, 0.921);
    background-color: rgb(153, 224, 237);
    font-size: large;
}



#Culture {
    background-image: linear-gradient(to bottom, rgb(247, 196, 100), white, rgb(76, 178, 76));
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    font-family: cursive;
    font-size: larger;
}

@media screen and (max-width : 600px) {
    .navi {
        left: 0px;
    }

    #Culture {
        background-image: linear-gradient(yellow, green);
    }

    .Attire {
        margin-top: 45px;
    }

}

.navi {
    height: 20px;
    width: 120px;
    word-spacing: 30px;
    float: right;
}

.Festival {
    color: chartreuse;
    margin-top: 20px;
    background-color: blueviolet;
}

.language {
    background-image: url(https://static.vecteezy.com/system/resources/previews/012/769/603/non_2x/cadet-blue-gradient-color-thumbnail-web-banner-creative-template-background-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: crimson;
}

.table {
    background-color: cadetblue;
    color: crimson;
}

.Attire {
    margin-top: 75px;
    background-color: rgba(250, 250, 112, 0.618);
    color: red;
}


#Landmark {
    font-family: cursive;
    font-size: larger;
    margin: 10px;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLoaASWzTk09LFdXuzCyo0c_753c0y0RUamw&s);

}

@media screen and (max-width : 600px) {
    .NAV {
        left: 0px;
    }

    #Landmark {
        background-image: linear-gradient(blue, red);
    }

}

.NAV {
    height: 25px;
    width: 120px;
    word-spacing: 20px;
    float: right;
}

.Head {
    color: orange;
}

.Places {
    color: rgb(111, 10, 10);
}

.TABLE {
    color: rgb(243, 221, 26);
}

.end {
    color: white;
}


.Cuisine {
    margin: 10px;
    background-image: url(https://c8.alamy.com/comp/2A82XCT/bistro-burger-shop-fast-food-stall-gradient-line-icon-illustration-symbol-or-pictogram-sign-dark-blue-background-related-bottom-border-2A82XCT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.navig {
    font-size: large;
    border: 2px solid;
    float: right;
    width: 120px;

}

@media screen and (max-width : 600px) {
    .navig {
        float: left;
    }

    .Cuisine {
        background-image: linear-gradient(red, blue);
    }
}


.Dishes {
    color: chartreuse;
}

.South {
    color: rgb(247, 247, 34);
}

.sweets {
    color: rgb(241, 172, 230);
}

#Contact {
    font-size: larger;
    margin: 10px;
    font-family: cursive;
    background-image: url(https://media.gettyimages.com/id/1840373106/vector/say-thank-you-with-hands.jpg?s=612x612&w=gi&k=20&c=Lywfkj2zPNLCYxKp-rxbsR4okyNzQ0WFxjN565N6XQE=);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width : 600px) {
    .Navigation {
        left: 0px;
    }

    #Contact {
        background-image: red;
    }

    .form {
        background-color: yellow;
    }

}

.Navigation {
    height: 20px;
    width: 120px;
    word-spacing: 10px;
    float: right;
}

.form {
    color: brown;
}